---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/ui/Hero'
import Services from '../components/ui/Services';
import Testimonials from '../components/ui/Testimonials';
import Contact from '../components/ui/Contact'
import Message from '../components/ui/Message';
---

<Layout title="The Hugo Theme">
	<main>
    <Hero />
    <Services />
    <Testimonials />
    <Contact />
	</main>
</Layout>

